.room-list{

    position: relative;
    padding: 3px;

    
}

.room-list .btn .btn-primary{
    
    
}

.button-open{
    opacity: 1;
    text-align: left;
    color: darkslategrey;
    padding-top: 5px;
    font-weight: bold;

}

.modal-form{
    border-radius: 3px;
    box-shadow: 8px 8px 7px #000000;
    text-align: center;
    font-family: helvetica;
    background-image: url(../assets/images/background.jpg);
    
}

.modal-title{
    opacity: 1;
    font-weight: bolder;
    text-decoration: underline;
    font-size: 36px;
}

.submit-entry{
    opacity: 1;
    align-content: left;
    margin-bottom: 5px;
    margin-right: 5px;

}

.submit-button{
    margin-right: 5px;
}
