.new-user-form{
    background:url(../assets/images/background.jpg);
    background-position: top;
    text-align: center;
    font-family: helvetica;
    font-weight: bolder;
}

.new-user-header{
    
}