<form class="modal-form form-inline"
      ng-submit= "modal.submit()">
    <div class="form-group">
    <div class="modal-header">
        <h3 class="modal-title">Create a New Room</h3>
    </div>
    <br>
    <input class="submit-entry form-control"
           type="text"
           placeholder="Enter new room name"
           ng-model="modal.roomName">
    
    <button class="submit-button btn btn-primary"
           type="submit">Submit</button>    
     
    
    <div class="close-button btn btn-primary"
            type="button"        
        ng-click= "modal.close()">Close</div>
        
        </div>
    
</form>  
    


