<div class="background-effect">
<div class = "room-list"
     ng-repeat="room in roomController.rooms"
     
     >
    <button
        ng-click="roomController.mes(room)"> 
        {{ room.$value }} 
    </button>

</div>

<div class = "button-open"
     ng-controller ="ModalCtrl as mod">
<button type="button"
            ng-click="mod.open()">Create new room</button>
    
</div>

<br>
<br>

<div class="chat-content-true"
     ng-show="roomController.mes.length > 0">
<div class="chat-room"
     ng-repeat="chat in roomController.messages"> name: {{ chat.username }} <br> <br> content: {{ chat.content }} <br> <br> Time sent: {{ chat.sentAt }}

</div>
</div>

</div>

