
<div class = "room-list"
     ng-repeat="room in roomController.rooms"
     ng-click="Message.getRoomById()"
     >{{ room.$value }}</div>

<div class = "button-open"
     ng-controller ="ModalCtrl as mod">
<button type="button"
            ng-click="mod.open()">Create new room</button>
    
</div>

<div class="chat-content-true"
     ng-show="message.Room.getRoomById.length > 0">
<div class="chat-room"
     ng-repeat="chat in message.Message.getRoomById()"> {{ chat.$value }}

</div>
</div>

