<div class="background-effect">
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class = "room-list btn btn-primary btn-block"
                     ng-repeat="room in roomController.rooms">
                        <div
                            ng-click="roomController.mes(room)"> 
                            {{ room.$value }} 
                        </div>
                </div>
                <br>

                <div class = "button-open btn btn-primary"
                    ng-controller ="ModalCtrl as mod">
                <div ng-click="mod.open()">Create new room</div>
    
                </div>
            </div>
        </div>
    

            <br>
            <br>

                <div class="chat-content-true"
                    ng-show="roomController.mes.length > 0"
                    ng-hide="roomController.mes.length <= 0">
                <div class="chat-room"
                    ng-repeat="chat in roomController.messages">
                    <br>
                    <div class="name text-left "><mark>name: {{ chat.username }}</mark></div> 
                    <br> 
                    <div class="content text-left"><mark>content: {{ chat.content }}</mark></div>
                    <br> 
                    <br> 
                    <div class="time text-right"><mark>Time sent: {{ chat.sentAt }}</mark>
                    </div>

                </div>
                </div>
    </div>
</div>

